@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


html{
    font-size: 16px;
}

body{
    font-family: 'Raleway', sans-serif;
}

#header{
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 50;
    height: 70px;
    background-color: #fff;
    border-bottom: 1px solid #111;
}

#header .container{
    height: 100%;
}

#header .logo {
    display: inline-block;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.2rem;
}

#header .logo span {
    display: inline-block;
    transform: translateY(-300%);
    animation: slideIn 0.5s ease-in-out forwards;
    animation-delay: calc(var(--index) * 0.1s);
}

#header .logo span:nth-child(2) {
    --index: 2;
}

#header .logo span:nth-child(3) {
    --index: 3;
}

#header .logo span:nth-child(4) {
    --index: 4;
}

#header .logo span:nth-child(5) {
    --index: 5;
}

#header .logo span:nth-child(6) {
    --index: 6;
}

.logo span:nth-child(7) {
    --index: 7;
}

#header .logo span:nth-child(8) {
    --index: 8;
}

@keyframes slideIn {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

#header .navbar i{
    display: none;
}

#header .navbar ul li{
    margin: 0 1.5rem;
}

#header .navbar ul li a{
    font-size: 0.938rem;
    text-transform: uppercase;
    position: relative;
}

#header .navbar ul li a::before ,
#header .navbar ul li a::after{
    content: '';
    position: absolute;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #f01078;
    transition: all 0.3s ease-in-out;
    border-radius: 3px;
}

#header .navbar ul li a::before{
    top: -4px;
    right: 0%;
}

#header .navbar ul li a::after{
    bottom: -4px;
    left: 0%;
}

#header .navbar ul li a:hover::before,
#header .navbar ul li a:hover::after{
    width: 30%;
}

/* ______Main - start______ */
#main #hero{
    background-image: linear-gradient(#fd7139c0, #ff53a3d8), url(../imgs/hero-2.jpg);
    height: 700px;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    text-align: center;
}

#main #hero h1{
    margin: 0 0 3rem 0;
    font-weight: 600;
}

/* Services - start */
#services .container h2{
    margin: 3rem 0;
    position: relative;
}

.services-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.service-card {
    position: relative;
    width: 500px;
    height: 400px;
    overflow: hidden;
}

.service-card img {     
    object-fit: cover;
}

.service-info {
    position: absolute;
    width: 100%;
    height: 400px;
    padding: 20px;
    background-image: linear-gradient(#fd703981, #ff53a3a8);
    color: #fff;
    transition: 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    opacity: 0;
    cursor: pointer;
}

.service-card h3{
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.service-card:hover .service-info {
    top: 0;
    opacity: 1;
}
/* Services - end */

#welcome-banner{
    width: 100%;
    height: 600px;
    margin-top: 10rem;
    color: #fff;
}

#welcome-banner img{
    width: 50%;
    background-size: cover;
    object-fit: cover;
}

.welcome-banner-text{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5rem;
    background-image: linear-gradient(45deg, rgba(240, 57, 33, 0.87), #f01078);
}

.welcome-banner-text h2{
    font-size: 3rem;
}

.welcome-banner-text p{
    margin: 1.3rem 0 3rem 0;
    font-size: 1.2rem;
    line-height: 2;
}

.welcome-banner-text a{
    width: 200px;
}

#facilities{
    margin-top: 10rem;
    text-align: center;
}

#facilities h2{
    margin-bottom: 1.6rem;
}

#facilities p{
    color: #666;
    margin-bottom: 3rem;
}

.facilities-container{
    text-align: left;
    gap: 4rem;
    justify-content: center;
    align-items: center;
}

.facilities-container i{
    font-size: 2.6rem;
    margin: 2rem 0;
}

.facilities-container h3{
    margin: 0 0 1.7rem 0;
}

.facility{
    width: 400px;
    transition: 0.4s;
}

.facility:hover{
    color: #f01078;
}

#hotel-album{
    text-align: center;
    margin-top: 15rem;
}

.album{
    margin-top: 4rem;
    overflow-x: scroll;
    white-space: nowrap;
    padding: 0 2rem;
    gap: 2rem;
    scroll-snap-type: x mandatory;
}

.album::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
  }

.album img{
    width: 400px;
    height: 600px;
    object-fit: cover;
    border-radius: 10px;
    scroll-snap-align: center;
}

#footer{
    display: flex;
    height: 90px;
    justify-content: center;
    align-items: center;
    background-color: #111;
    color: #fff;
    margin-top: 6rem;
}

#footer p{
    font-size: 14px;
}

@media screen and (max-width: 1440px) {
    #header .container {
        padding: 0 1rem;
    }
}

@media screen and (max-width: 970px) {
    #main #hero h1{
        font-size: 2rem;
    }

    #main #hero .container{
        padding: 0 1rem;
    }

    #services .container{
        padding: 0 1rem;
        text-align: center;
    }

    .services-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .service-card{
        width: 80%;
    }

    #welcome-banner{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 18rem;
    }

    #welcome-banner img{
        width: 100%;
    }

    .welcome-banner-text{
        width: 100%;
        padding: 2rem 3rem;
    }

    #facilities .container h2{
        font-size: 1.9rem;
    }

    #facilities .container{
        padding: 0 2rem;
    }

    .facilities-container{
        flex-direction: column;
        text-align: center;
    }

    .facility{
        padding: 0 2rem;
    }
}

@media screen and (max-width: 580px) {
    #main #hero h1{
        font-size: 1.3rem;
    }

    .navbar ul{
        display: none;
    }

    #header .navbar i{
        display: block;
        font-size: 1.5rem;
    }

    .album img{
        width: 90%;
        height: 400px;
    }
}